.menu_tabs_mfo_active
{
    color: white;
    background-color: rgb(0, 104, 181);
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 40px;
}

.menu_tabs_mfo
{
    margin-top: 5px;
    color: black;
    text-decoration: none;
    margin-right: 40px;
}