/* CSS Document */


html
{
    width: 100%;
    height: 100%;
}

body
{
    font-family: helvetica, "Helvetica CY", "Nimbus Sans L";
    margin:0px;
    padding:0px;
    background-color:#f7f7f7;
    min-width: 900px;
    height: 100%;
}

#icon
{
    margin-bottom: 70px;
}

.headerAdres
{
    background-color:#2c88b8;
    padding-top: 25px;
    padding-bottom: 25px;
}


.headerAdres td
{
    color:white;
}

.headerAdres a
{
    text-decoration: inherit;
}

.headerAdres a:visited
{
    color: inherit;
}

.footer
{
    height:130px;
    min-height:130px;
    background-color:#d9d9d9;
    padding-top:10px;
    padding-bottom: 20px;
}


.footerLinks td
{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 20px;
    font-size: 14px;
}

.footerLinks th
{
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    font-size: 14px;
}

.footerLinks div
{
    margin-top: 5px;
}

.footerLinks a
{
    padding-top: 10px;
    margin-top: 20px;
    font-size:12px;
    text-decoration:none;
    color:black;
}

.headerLinks
{
    padding-top:7px;
    margin-bottom:-5px;
    height:30px;
    width: 900px;
}

.headerLinks a
{
	padding-right:15px;
	text-decoration: none;
	color: black;
}

.content
{
    padding-bottom: 50px;
    width: 900px;
}

#otz
{
    padding-left:15px;
    font-size:22px;
}

.news_index
{
    width: 400px;
    overflow-x: hidden;
}

.how_to_get
{
    margin-top: 80px;
}

.how_to_get h1
{
    margin-bottom: 30px;
    font-weight: 200;
}

.how_to_get p
{
    margin-bottom: 40px;
    line-height: 30px;
}

.how_to_get td p
{
    line-height: 30px;
}

.how_to_get a
{
    color: #2c88b8;
    text-decoration: none;
}

.mfo_affiliated_page
{
    margin-bottom: 50px;
    font-size: 14px;
}
