.city
{
    font-size:45px;
}

.selectCityAddress
{
    color:black!important;
    padding:6px;
    border:1px solid #dfdfdf;
    border-radius:5px 5px 5px 5px;
    background-color:#dfdfdf;
    vertical-align:5px;
    text-decoration: none;
    margin-left: 10px;
}



.selectRegion_vacancies_wrapper
{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color:rgba(0,0,0,0.3);
    z-index:100;
}

.selectRegion_vacancies
{
    display: block;
    padding: 3px;
    z-index:200;
    background-color: white;
    border: 1px solid silver;
    font-size: 12px;
    width: 800px;
    height: 500px;
    overflow-y: auto;
    margin-top: 20%;
    margin-left: 20%;
}

.selectRegion_vacancies_block
{
    float: left;
    margin-right: 50px;
    margin-top: 50px;
    width: 150px;
}

.regionList
{
    padding: 0px 20px 20px;
}