.mfo_summary_header
{
    font-size: 24px;
    margin-bottom: 30px;
}

.mfo_summary_fieldsblock_left
{
    float: left;
}

.mfo_summary_fieldsblock_left input, select
{
    width: 300px;
}
.mfo_summary_fieldsblock_left
{
    float: left;
    margin-right: 50px;
}

.mfo_summary_fieldsblock_right
{
    float: right;
}

.mfo_summary_fieldsblock_right input, select
{
    width: 170px;
}


.mfo_summary_fieldline
{
    margin-bottom: 30px;
}

.mfo_summary_div
{
    font-size: 12px;
    margin-right: 30px;
    width: 150px;
    float: left;
    margin-top: -3px;
    vertical-align: top;

}
.mfo_summary_fieldsblock_center td
{
    padding-top: 10px;
}

.mfo_summary_fieldsblock_center td input
{
    width: 220px;
}

.mfo_summary_fieldsblock_center th
{
    font-size: 14px;
    font-weight: 200;
}



.mfo_summary_fieldsblock_center
{
    margin-top: 50px;
    height: 170px;
}

.mfo_summary_recomendations textarea
{
    width: 600px;
    height: 150px
}

.mfo_summary_confirm_text
{
    margin-top: 40px;
    color: #BABABA;
    font-size: 10px;
}

.mfo_summary_submit
{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(0, 104, 181);
    color: white;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.mfo_summary_submit:hover
{
    background-color: #3880cc;
}

.mfo_summary_errormessage
{
    color: red;
    font-size: 10px;
    display: none;
}
