.menu_tabs_mfo_active
{
    color: white;
    background-color: #2c88b8;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 40px;
}

.menu_tabs_mfo
{
    color: black;
    text-decoration: none;
    margin-right: 40px;
}