.anket
{

    display: inline-block;
    color: #666666;
    font-size: 12px;
}

.anket div
{
    margin: 0;
    padding: 0;
}

.anket .title
{
    color: #666666;
    font-weight: 100;
    font-size: 24px;
}

.anket .items .item
{
    display: inline-block;
    font-size: 18px;
    font-weight: 100;
    border: 0;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    width: 50%;
}

.anket .items .item:nth-child(even)
{
    float: right;
    margin-right: 0;

}

.anket .items
{
    margin-top: 30px;
    position: relative;
    width: 850px;
    overflow: hidden;

}

.anket .items .item .headitem
{
    color: #70a0cf;
    padding-bottom: 3px;
}

.anket .items .item .headitem span
{
    margin-left: 30px;
}

.anket .items .item .headitem .border
{
    height: 1px;
    background-color: #cbcbcb;
    width: 100%;
    margin-top: 5px;
    left: 0px;
    z-index: -1;
}

.anket .items .item .body
{
    margin-top: 30px;
    background-color: white;
    padding: 0 30px;
}

.anket .items .item .body .fieldWrap:first-child
{
    margin-top: 0;
}

.anket .items .item .body .fieldWrap
{
    overflow: hidden;
    margin-top: 6px;
}

.anket .items .item .body .fieldWrap .text
{
    color: #666666;
    font-size: 18px;
    float: left;
    font-weight: 100;
    vertical-align: middle;
    margin-top: 4px;
    width: 165px;
}

.anket .items .item .body .fieldWrap .field
{
    float: right;
    margin-left: 20px;
}

.anket .items .item .body .errorMessage
{
    color: red;
    font-size: 12px;
    font-weight: 100;
    text-align: right;
    display: none;
}

.anket .items .item .body .fieldWrap .errorField
{
    border: 1px solid red!important;
    background-color: rgba(255, 0, 0, 0.3)!important;
}

.anket .items .item .body .fieldWrap .fw
{
    overflow: hidden;
}

.anket .items .item .body .fieldWrap .field span
{
    display: inline-block;
    font-size: 11px;
    font-weight: 100;
    width: 265px;
}

.anket .items .item .body .fieldWrap .field input
{
    border: 0;
    background-color: #faf9f9;
    color: #b4b4b4;
    border: 1px solid #f1f1f1;
    border-top: 2px solid #f1f1f1;
    border-radius: 5px;
    width: 160px;
    padding: 5px;
}

.anket .items .item .body .fieldWrap .field select
{
    border: 0;
    background-color: #f2f2f2;
    border-top: 1px solid #bfbfbf;
    border-radius: 2px;
    width: 166px;
    padding: 3px;
}

.anket .items .item .body .fieldWrap .field input[type="file"]
{
    border: 0;
    background-color: inherit;
}


.submitWrap
{
    margin-top: 20px;
}

.submitWrap input
{

    font-size: 18px;
    color: white;
    border-radius: 5px;

    border: 1px solid silver;
    width: 130px;
    height: 30px;
    cursor: pointer;
    background-color: #0068b5;
}




.calendar
{
    font-size: 11px;
    font-family: Helvetica;
    border: 1px solid silver;
    display: inline-block;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    z-index: 100;
}

.calendar #calendar
{
    position: relative;
    overflow: hidden;

}

.calendar table
{
    background-color: white;
    position: relative;
}

.calendar th
{
    font-weight: 100;
    font-size: 12px;
    font-weight: 100;
}

.calendar td
{
    text-align: center;
    background-color: #2C88B8;
    color: white;
    padding: 0;
}

.calendar .no_empty_cell
{
    background-color: #2C88B8;
    color: white;
    cursor: pointer;
    padding: 5px;
}

.calendar .no_empty_cell:hover
{
    background-color: #35b2f4;
}

.calendar .highlight
{
    background-color: #35b2f4;
}

.calendar .year_month
{
    border-bottom: 1px dashed silver;
    padding-bottom: 2px;
    position: relative;
}

.calendar .year_month span
{
    color: #2C88B8;
    cursor: pointer;
    margin-right: 5px;
}

.calendar .year_month span:last-child
{
    margin-right: 0;
}

.calendar .arrow_next
{
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    top: -6px;
    right: 1px;
    position: absolute;
    background-image: url("img/arrow_next.png");
    background-repeat: no-repeat;
    background-position: 6px 8px;
    width: 4px;
    height: 7px;

}

.calendar .arrow_prev
{
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    background-image: url("img/arrow_prev.png");
    background-repeat: no-repeat;
    background-position: 6px 8px;
    top: -6px;
    left: 1px;
    position: absolute;
    width: 4px;
    height: 7px;
}

.calendar .onDrive
{
    position: absolute;
}

.btnBorderWrap
{
    border: 1px solid silver;
    padding: 2px!important;
    display: inline-block;
    border-radius: 5px;
}


.modalWrap
{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
    display: none;
}

.modalWrap .modal
{
    width: 380px;
    height: 150px;
    position: absolute;
    background: white;
    border: 1px solid silver;
}

.modal .content-smsform
{
    margin-top: 15px;
    font-size: 16px;
    padding: 10px;
    line-height: 35px;
}

.modal .content-smsform a
{
    color: #4053b9;
    text-decoration: none;
}

.modal .content-smsform a.disabledLink
{
    color: silver;
    cursor: default;
}

.modal .content-smsform .phone
{
    color: #4053b9;
}

.modal .content-smsform .phonecode
{
    width: 100px;
    border-radius: 0;
    border: 1px solid silver;
    padding: 5px 2px;

}

.modal .content-smsform .phonecode:focus
{
    box-shadow: inset 0px 0px 1px #5963cc;
    color: #878787
}


.modal .content-smsform input[type=button]
{
    border-radius: 0;
    border: 1px solid silver;
    background-color: #5963cc;
    color: white;
    padding: 4px 6px;
    cursor: pointer;
}

.modal .content-smsform input[type=button]:hover
{
    background-color: #6670ef;
}

.modal .content-smsform input[type=button]:disabled
{
    background-color: silver;
    cursor: default;
}

.modal .content-smsform .error
{
    color: red;
    font-size: 13px;
    line-height: 10px;
    display: none;
}

