.reviews .form
{
    overflow: auto;
    display: table;
    background-color: white;
    border-spacing: 5px;
}

.reviews .form .formblock
{
    background-color: #e1e0e0;
    display: table-cell;
    padding: 10px;
    height: 100%;
    position: relative;
    vertical-align: top;
    font-size: 14px;

}
.reviews .form .formblock input
{
    margin-left: -2px;
}

.reviews .form .formblock textarea
{
    height: 140px;
    width: 500px;
}

.reviews .form .right
{
    margin-left: 10px;
}

.reviews .form .submit
{
    background-image: url("images/btn_bgr.png");
    background-repeat: repeat-x;
    background-size: 1px 100%;
    padding: 8px 10px;
    border-radius: 10px;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 1px 2px 5px rgba(0,0,0, 0.3);
    margin-top: 10px;
    cursor: pointer;
}


.reviews .form .requiredstar
{
    color: red;
}