@font-face {
    font-family: 'Conv_PFDinTextCompPro-Regular';
    src: url('/fonts/PFDinTextCompPro-Regular.eot');
    src: local('☺'), url('/fonts/PFDinTextCompPro-Regular.woff') format('woff'), url('fonts/PFDinTextCompPro-Regular.ttf') format('truetype'), url('fonts/PFDinTextCompPro-Regular.svg') format('svg');

    font-style: normal;

}

@font-face {
    font-family: 'Conv_PFDinTextCompPro-Light';
    src: url('/fonts/PFDinTextCompPro-Light.eot');
    src: local('☺'), url('/fonts/PFDinTextCompPro-Light.woff') format('woff'), url('fonts/PFDinTextCompPro-Light.ttf') format('truetype'), url('fonts/PFDinTextCompPro-Light.svg') format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'PF BeauSans Pro Regular';
    src: url('/fonts/PFBeauSansPro-Regular.otf') format("opentype");
}

html
{
    font-family:Conv_PFDinTextCompPro-Light;
    font-weight: 100;
}

body
{
    margin: 0;

}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url('/images/checkbox.png') left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url('/images/checkbox_ch.png') left top no-repeat;
}

.content
{
    width: 80%;
    padding: 25px 0;
    max-width: 1200px;
    min-width: 970px;
}

.head
{
    padding: 0 25px;
    overflow: hidden;
}

.head .logo
{
    float: left;
    display: inline-block;
}

.head .logo .slogan
{

    color: #bbbbbb;
    font-size: 13px;
    margin-top: 5px;
}

.head .text
{
    display: inline-block;
    font-size: 18px;
    color: #292c31;
}

.head .contacts
{
    float: right;
    display: inline-block;
    font-size: 13px;
}

.head .contacts .phone
{
    margin-top: 5px;
    color: #0068b5;
    font-size: 30px;
}

.icons
{
    background-color: rgb(0, 104, 181);
    color: white;
    border-radius: 3px;
    padding: 12px 50px;
    margin-top: 20px;
    overflow: hidden;
    height: 69px;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(3, 82, 140);


}

.icons .item img
{
    display: inline-block;
    height: 40px;
    float: left;
    position: relative;
    top:10px;
}

.icons .item
{
    display: inline-block;
    font-size: 30px;
    margin-top: 12px;
}

.com_block h1 {
    display: inline-block;
    color: #0068b5;
    margin-left: 15px;

}

.com_block img {
    position: relative;
    top:5px;
}

.comments {
    border: 3px dashed #faf9f9;
    padding: 10px;
    width: 30%;
    text-align: left;
    min-height: 350px;
    border-radius: 10px;

}

.comments .link a {
    text-decoration: none;
}

.news .link a {
    text-decoration: none;
}

.news {
    border: 3px dashed #faf9f9;
    padding: 10px;
    width: 60%;
    text-align: left;
    height: 350px;
    border-radius: 10px;
}

.icons .item:first-child
{
    float: left;
}

.icons .item:last-child
{
    float: right;
}

.icons .item .text
{
    display: inline-block;
    float: left;
    margin: 7px 0 0 20px;

}

.calcwrap
{
    margin-top: 62px;
}

.additiontext
{
    font-size: 14px;
    margin-top: 80px;
    overflow: hidden;
    padding: 0 30px;

}

.address a
{
    color: #69696a;
}

.address img {
    position: relative;
    top: 5px;
}

.additiontext .item
{
    display: inline-block;
}

.additiontext .item:first-child
{
    float: left;
}

.additiontext .item:last-child
{
    float: right;
}

.additiontext .item .left
{
    display: inline-block;
    float: left;
}

.additiontext .item .right
{
    display: inline-block;
    float: right;
    width: 200px;
    margin-left: 10px;
}

.additiontext .item .right .text
{
    font-size: 13px;
    margin-top: 20px;
}


.ourcompany
{
    margin-top: 70px;
}

.ourcompany .title
{
    position: relative;
    padding: 0 70px;
}

.ourcompany .title .line
{
    background-color: #cccccc;
    height: 2px;
    position: relative;
    top: 9px;
    z-index: -1;
}

.ourcompany .title .text
{
    color: #6699cc;
    background-color: white;
    display: inline-block;
    padding: 0 40px;
}

.ourcompany .items
{
    margin-top: 70px;
    overflow: hidden;
    padding: 0 30px;
}



.ourcompany .items .item
{
    display: inline-block;
    overflow: hidden;

}

.ourcompany .items .item .textwrap
{
    height: 105px;
    overflow: hidden;
}


.ourcompany .items .item:first-child
{
    float: left;
}

.ourcompany .items .item:last-child
{
    float: right;
}

.ourcompany .items .item .left
{
    display: inline-block;
    float: left;
}

.ourcompany .items .item .right
{
    display: inline-block;
    float: right;
    width: 200px;
    margin-left: 10px;
}

.ourcompany .items .item .right .text
{
    font-size: 13px;
    margin-top: 10px;
    font-style: italic;
    height: 60px;
    overflow: hidden;
}

.ourcompany .items .item .titletext
{
    font-size: 16px;
    color: #292c31;
}

.ourcompany .items .item  .titletext .date
{
    font-size: 14px;
    color: #0068b5;
}

.ourcompany .items .item .right .link
{
    margin-top: 15px;
}

.ourcompany .items .item .right .link a
{
    color: #999999;
    display: inline-block;
    border-bottom: 1px dashed #999999;
    font-size: 13px;
}


.content_menu .column ul
{
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.content_menu .column ul li
{
    margin: 0;
    padding: 0;
    display: block;
    color: #666666;
    font-size: 18px;
    margin-top: 0px;
}

.content_menu .column .title
{
    font-family:'Conv_PFDinTextCompPro-Regular';
    font-size: 24px;
    font-weight: 100;
    color: gray;
}

.content_menu .column ul li a:visited
{
    color: #0068b5;
}

.content_menu .column ul li a
{
    color: #0068b5;
    font-weight: 100;
}

.content_menu .panel {
    width: 285px;
    height: 300px;
    border: 3px solid #faf9f9;
    border-radius: 10px;
    text-align: center;
}

.content_menu .panel .text {
    color: #0068b5;
    font-size: 34px;
    text-align: left;
    background-color: #faf9f9;
    margin-top: 15px;
    padding: 10px;
    height: 100px;
}

.content_text {
    color: #808080;
    float: right;
    left: 17px;
    width: 630px;
    width: calc(100% - 330px);

}

.content_menu
{
    width: 285px;
}

.content_text h1 {
    color: #3b3e42;
}

.footer
{
    border-radius: 5px;
    padding: 25px;
    background-color: #faf9f9;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
}

.footer .column
{
    display: inline-block;
    text-align: left;
    margin-right: 3%;
    vertical-align: top;

}

.footer .column:last-child
{
    margin-right: 0;
}

.footer .column .title
{
    font-family:'Conv_PFDinTextCompPro-Regular';
    font-size: 18px;
    font-weight: 100;
    color: #69696a;
}

.footer .column ul
{
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

.footer .column ul li
{
    margin: 0;
    padding: 0;
    display: block;
    color: #666666;
    font-size: 14px;
    margin-top: 0px;
}

.footer .column ul li a
{
    color: blue;
    text-decoration: none;
    color: #0068b5;
}

.footer .column ul li a:hover
{

}

.footer .line
{
    background-color: #cecece;
    position: relative;
    top: 32px;
    height: 2px;
}

.contentWrap
{
    padding: 0 20px;
    overflow: hidden;
}

.gurumfo
{
    color: #777878;
    font-size: 12px;
    margin-top: 1px;
}

.gurumfo a
{
    color: #777878;
    font-style: italic;
}

.gurumfo a:hover
{
    color: black;
}
