.calc_mfo
{
    width: 900px;
    border: 3px solid #faf9f9;
    border-radius: 12px;
}

.calc_mfo .head
{
    overflow: hidden;
    margin: 0;
    padding: 20px 20px 0 20px;
}

.calc_mfo .head .switchWrap
{
    float: left;
}

.calc_mfo .head .switch
{

}

.calc_mfo .middle
{
    background-color: #f9f9f9;
    height: 125px;
    margin-top: 20px;
    overflow: hidden;
    padding: 20px;
}

.calc_mfo .head .switch ul
{
    display: inline-block;
    margin: 0;
    margin-left: 10px;
    padding: 0;
}

.calc_mfo .head .switch li
{
    text-decoration: underline;
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.calc_mfo .head .switch .itemActive
{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #006bbb;
    border-radius: 10px;
}

.calc_mfo .head .info
{
    float: right;
    width: 445px;
    text-align: left;
    color: #c5c5c5;
}

.calc_mfo .bottom
{
    padding: 20px;
}

.calc_mfo .result
{
    overflow: hidden;

}

.calc_mfo .result .p
{
    float: left;
    width: 240px;
    color: #9c9c9c;
    font-size: 35px;
    text-align: left;
}

.calc_mfo .result .total
{
    float: right;
}

.calc_mfo .result .term
{
    float: none;
    display: inline-block;
}

.calc_mfo .result .term span[name=typeLoan]
{
    color: #9c9c9c!important;
    font-size: 35px!important;
    font-weight: 200!important;
}

.calc_mfo .result .p .text
{
    font-size: 17px;
    margin-bottom: 16px;
}

.calc_mfo .result .p span
{
    font-weight: 600;
    color: #0569b7;

}

.calc_mfo .result .p span.d2
{
    color: #ca0b13;
}

.calc_mfo .middle .sliderWrap
{
    display: inline-block;
    color: #297bb8;
    text-align: left;
    font-size: 23px;
}

.calc_mfo .middle .left
{
    float: left;
}

.calc_mfo .middle .right
{
    float: right;
}

.calcBtn
{
    padding: 12px 80px;
    color: white;
    background-color: #0569b7;
    font-weight: 600;
    font-size: 22px;
    border-radius: 10px;
    border: 1px solid #b9bbb8;
}

.btnWrap
{
    display: inline-block;
    border: 1px solid #b9bbb8;
    padding: 1px;
    border-radius: 10px;
    border-top: none;
    margin-top: 20px;
}



.scale_numbers .first
{
    display: inline-block;
    float: left;
}

.scale_numbers .last
{
    display: inline-block;
    float: right;
}

.scale_numbers
{
    position: absolute;
    width: 340px;
    font-size: 19px;
    color: #c6c6c6;
    top: 16px;
}

.scale
{
    width: 340px;
    position: absolute;
    left: 9px;
    top: -4px;
}

.scale .step
{
    height: 12px;
    width: 1px;
    position: absolute;
    background-color: #e3e3e3;
}

.scale .activeStep
{
    background-color: #006cc2;
}

.slider
{
    position: relative;
    margin-top: 37px;
}











.vg_slider
{
    height: 3px;
    position: relative;
    width: 350px;
    border-radius: 5px;
    background-color: #e3e3e3;

}

.vg_slider .vg_background
{
    height: 3px;
    width: 20px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #006cc2;
}

.vg_slider .vg_pointer
{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 10px;
    top: -10px;
    background-size: contain;
}

.left .vg_slider .vg_pointer
{
    background-image: url("img/slider_summ.png");
}

.right .vg_slider .vg_pointer
{
    background-image: url("img/slider_term.png");
}