/*.material-menu-button {
    display: block;
    width: 80px;
    height: 80px;
    padding: 25px 0 0;
    background: #f0f0f0;
    cursor: pointer;
  }

@media (min-width: 1200px) {
  .material-menu ul li a {
    padding: 18px 8px;
  }
}

ul.repayment li span {
  display: inline-block;
}

ul.repayment li img {
margin-right: 5px;
}

@media (max-width: 960px) {
  ul.repayment li span {
    display: inline;
  }
}

@media (max-width: 767px) {
  ul.repayment li span {
    display: inline !important;
  }
} */