@import "vars";

.form-step {
  padding-bottom: 50px;
  float: none !important;
  margin: auto;

  &-wrap {
    margin: 0 auto !important;
    float: none !important;
  }
  &-title {
    font-family: @head-font;
    margin-bottom: 50px;

    h3 {
      display: inline-block;
      margin: 0 30px 20px 0;
    }
    .step {
      display: inline-block;
      color: #838383;
      font-size: 18px;
    }
  }
}

.columns-two {
  input {
    float: left;

    &.inp-first {
      width: 35%;
      margin-right: 5%;
    }
    &.inp-second {
      width: 60%;
    }
  }
}

.pair {
  float: left;
  padding: 0;
  width: 100%;
  background: #f4f4f4; //
  border: 1px solid #dedede;
  margin-bottom: 35px;
  .rounded(4px);

  .label {
    color: #6e6e6e;
    float: left;
    padding: 14px 10px;
    border-right: 1px solid #dedede;
    text-align: center;
  }
  .input-text {
    float: left;
    border: 0 !important;
    margin: 0;
  }
  .select {
    float: left;
    margin: 0;
    border: 0 !important;
  }

  &.loan-type {
    .label {
      width: 18%;
      @media (max-width: 767px) {
        width: 30%;
      }
    }
    .select {
      width: 81%;
      @media (max-width: 767px) {
        width: 69%;
      }
    }
  }
  &.loan-summ,
  &.loan-time {
    .label {
      width: 38%;
      @media (max-width: 1199px) {
        width: 43%;
      }
      @media (max-width: 991px) {
        width: 45%;
      }
      @media (max-width: 767px) {
        width: 30%;
      }
    }
    .input-text {
      width: 61%;
      @media (max-width: 1199px) {
        width: 57%;
      }
      @media (max-width: 991px) {
        width: 50%;
      }
      @media (max-width: 767px) {
        width: 69%;
      }
    }
  }

}
.stepDetails {
  margin: auto;
  display: block;
}
.form-step .step-next,
.form-step .step-prev {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  border:0;
  padding: 13px 30px;
  margin: 15px auto;
  background: transparent;
  cursor: pointer;
  background: @color-link;
  color: #fff !important;
  text-transform: none;
  .rounded(4px);

  &:hover {
    color: #fff;
    background: #000;
    text-decoration: none;
  }
}
.stepy-header,
.button-back {
  display: none;
  visibility: hidden;
  position: absolute;
  left: -99000px;
}
p.stepy-navigator {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 83.33333333%;
  }
  @media (min-width: 992px) {
    width: 66.66666667%;
  }
}
.formError {
  left: 20px !important;
}