@import "elements";
@import "vars";
/* FORM's elements
*******************************************/
@placeholder-color: #acacac;
::-webkit-input-placeholder {
  color: @placeholder-color;
}
:-moz-placeholder {
  color: @placeholder-color;
  opacity:  1;
}
::-moz-placeholder {
  color: @placeholder-color;
  opacity:  1;
}
:-ms-input-placeholder {
  color: @placeholder-color;
}
.input-text,
.textarea {
  width: 100%;
  background: #f6f6f6;
  border: 1px solid #e7e7e7;
  padding: 14px 10px;
  margin-bottom: 35px;
  color: #5a5a5a;
  line-height: 100% !important;
  .rounded(4px);

  &:focus {
    background: #f9f9f9;
    border-color:@color-link;
    outline:none !important;
  }
  &.calendar {
    background: #f6f6f6 url("@{img}/form_sprite.png") no-repeat 97% 14px;
  }
}
.input-text[type="date"] {
  color: @placeholder-color;
}
textarea {
  min-height: 100px;
  padding: 10px;
}
.conditions {
  height: 420px;
  padding: 30px;
  resize: none;
}
label {
  font-weight: normal;
  display: block;
  cursor: pointer;
}

.input-radio {
  display: none;

  & + label {
    display: inline-block;
    margin-right: 10px;
  }

  & + label span {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    margin: -1px 10px 0 0;
    vertical-align: middle;

    background: #f6f6f6;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    .rounded(50%);

    i {
      position: absolute;
      left: 50%;
      margin: 3px 0 0 -4px;
      background: transparent;
      display: inline-block;
      line-height: 1em;
      width: 8px;
      height: 8px;
      .rounded(50%);
    }
  }
  &:checked + label span i {
    background: #ffbd31;
  }
}
.input-checkbox {
  display: none;

  & + label {
    display: inline-block;
    margin-right: 10px;
  }

  & + label span {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    margin: -1px 10px 0 0;
    vertical-align: middle;

    background: #f6f6f6;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    .rounded(2px);

    i {
      position: absolute;
      left: 50%;
      margin: 2px 0 0 -6px;
      background: transparent;
      display: inline-block;
      line-height: 1em;
      width: 12px;
      height: 12px;
      .rounded(2px);
    }
  }
  &:checked + label span i {
    background: @color-link;
  }
}

.select {
  width: 100%;
  padding: 17px 10px;
  background: #f6f6f6 url('@{img}/icon-arrow-trigger.png') no-repeat 97% center;
  border: 1px solid #e6e6e6;
  line-height: 1em;
  margin-bottom: 35px;
  .rounded(4px);
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none !important;
  cursor: pointer;

  &:focus {
    background: #f9f9f9;
    border-color:@color-link;
    outline:none !important;
  }
  &:after {
    content:' ';
    display:block;
    clear: both;
    overflow: hidden;
    margin: 0;
  }
  &::-ms-expand {
    display: none;
  }
}

.region-selection {
  width: auto;
  font-family: @head-font;
  padding:0 20px 0 0;
  background: transparent url('@{img}/icon-arrow-trigger.png') no-repeat 100% center;
  border: 0;
  color: @color-link;
  line-height: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none !important;
  cursor: pointer;

  &:focus {
    outline:none !important;
  }
  &:after {
    content:' ';
    display:block;
    clear: both;
    overflow: hidden;
    margin: 0;
  }
  &::-ms-expand {
    display: none;
  }

  option {
    font-size: 14px !important;
    color: @base-color;
    padding: 10px;
  }
}