@base-color: #000; // Text
@add-color: #ed1c24; // red
@light-color: lighten(@base-color, 71%);
@base-bg: #fff;
@body-bg: #fff;
@base-font: Calibri, Arial, sans-serif;
@head-font:'Open Sans', sans-serif;
@font-size: 16px;
@color-link: @add-color;
@color-link-hover: darken(@color-link, 1%);
@img: "../img"; // Images path
@font-path: "../font";
@footer-height:60px;
@footer-height-bigger:100px;
