.scale_numbers .first
{
	color: #b4cce6;
    display: inline-block;
    float: left;
    font-size: 12px;
    margin-top: 51px;
}

.scale_numbers .last
{
	color: #b4cce6;
    display: inline-block;
    float: right;
    font-size: 12px;
    margin-top: 51px;
}

.scale_numbers
{
    position: absolute;
    width: 440px;
    top: 16px;
}

.scale
{
	display: none;
    width: 278px;
    position: absolute;
    left: 50%;
    top: 9px;
    margin-left: -138px;
}

.scale .step
{
    height: 8px;
    width: 1px;
    position: absolute;
    background-color:#ccc;
}

.scale .activeStep
{
    background-color: #006cc2;
}

.slider
{
    position: relative;
    margin-top: 15px;
}


.vg_slider
{
    height: 10px;
    position: relative;
    width: 300px;
    margin: 0 auto;
    background-color:#ececec;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.vg_slider .vg_background
{
    height: 10px;
    width: 20px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    background-color:  #408fd8;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.vg_slider .vg_pointer
{
    position: absolute;
    width: 25px;
    height: 25px;
    top: -7px;
    background: #fff;
    /*background: url('img/vg_pointer.png') no-repeat center center;*/
    border:0;
    cursor: e-resize;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.vg_slider .vg_pointer span {
    display: block;
    vertical-align: middle;
    margin: 8px auto 0;
    width: 10px;
    height: 10px;
    background: #ffbd31;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.to-pay-month {
    text-align: center;
    padding-bottom: 5px !important;
    margin-bottom: 0;
}

.to-pay-month p {
    font-size: 1.5em;
}

.vg_slider
{
    height: 4px;
    position: relative;
    width: 425px;
    border-radius: 5px;
    background-color: #b0c5d8;

}

.vg_slider .vg_background
{
    height: 4px;
    width: 20px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffcf0c;
}

.vg_slider .vg_pointer
{
    position: absolute;
    width: 28px;
    height: 28px;
    left: 12px;
    top: -12px;
    background-size: contain;
}

.vg_slider .vg_pointer {
    background: #ffffff;
	cursor: pointer;
	box-shadow: 0px 0px 5px 0px #cfcfcf;
	border-radius: 50%;
}

.calc .calc-slider, .calc .calc-value {
	float: right;
    margin: -15px -120px 0 0;
}