.actions-list .element img {
    width: 100%;
}

.actions-list .element a{
    font-size:20px;
}

.push10 {
    height: 10px;
}

.gray {
    color: #87898c;
    font-size:18px;
    line-height:1.4;
}

#Modal-zak{
	text-align:center;
}

#Modal-zak h3{
	margin:25px 0;
	font-weight:700;
	color:#000;
	font-size:28px;
	text-align:center;
}

#Modal-zak p{
	margin:0 0 50px 0;
	color:#000;
	font-size:18px;
	text-align:center;
}

#Modal-zak form{
	display:inline-block;
	margin-bottom:25px;
	overflow:hidden;
	text-align:left !important;
}

.name-bg{
	float:left;
	background:url(img/name-bg.png) no-repeat;
	width:183px;
	height:35px;
	margin-right:30px;
}

.name-bg input{
	margin:8px 0 0 40px;
	width:140px;
	border:0;
	background:none;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#595f6c;
}

.name-bg input:focus, .phone-bg input:focus{
        border:0;
        outline:0;
}

.phone-bg{
	float:left;
	background:url(img/phone-bg.png) no-repeat;
	width:183px;
	height:35px;
	margin-right:30px;
}

.phone-bg input{
	margin:8px 0 0 40px;
	width:140px;
	border:0;
	background:none;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#595f6c;
}

.submit{
	background: #bb701f;
    background: -moz-linear-gradient(left, #d3842e, #a05a0f);
    background: -webkit-linear-gradient(left, #d3842e, #a05a0f);
    background: -o-linear-gradient(left, #d3842e, #a05a0f);
    background: linear-gradient(left, #d3842e, #a05a0f);
	display:block;
	height:31px;
	width:150px;
	float:left;
	text-decoration:none;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	margin-top:3px;
}

.submit span{
	background-image: -moz-linear-gradient(90deg, rgba(204,153,51,.0) 30%, rgba(204,153,51,.8), rgba(132,81,14,.0) 70%) !important;
	background-image: -webkit-linear-gradient(90deg, rgba(204,153,51,.0) 30%, rgba(204,153,51,.8), rgba(132,81,14,.0) 70%);
	background-image: -o-linear-gradient(90deg, rgba(204,153,51,.0) 30%, rgba(204,153,51,.8), rgba(132,81,14,.0) 70%);
	background-image: linear-gradient(90deg, rgba(204,153,51,.0) 30%, rgba(204,153,51,.8), rgba(132,81,14,.0) 70%) !important;
	background-repeat: no-repeat;
	background-size: 200% 100%, auto;
	background-position: 200% 0, 0 0;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	text-decoration:none;
	display:block;
	height:29px;
	width:150px;
	font-family: 'PT Sans';
	font-weight:700;
}

.submit .butt{
	color:#fff;
	font-size:18px;
	outline: none;
	background:none !important;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	text-decoration:none;
	outline:0;
	border:0;
	text-align:center;
	padding-top:2px;
	display:block;
	height:100%;
	width:100%;
	font-family: 'PT Sans';
	font-weight:700;
	cursor:pointer !important;
}

.submit span:hover{
	transition: 0.5s linear;
	background-position: -100% 0, 0 0;
}

.doc-images-element {
    margin-bottom: 60px;
}
.doc-images-element .img-wrapper {
    margin-bottom: 20px;
}
.doc-images-element a.absolute {
    background: rgba(255, 255, 255, 0.4) url("img/zoom-icon.png") no-repeat scroll 50% 150px;
    opacity: 0;
}
.doc-images-element a.absolute:hover {
    opacity: 1;
}
.element-doc {
    padding-left: 60px;
    padding-bottom: 10px;
}
.element-doc:hover .text a {
    color: #000;
}
.element-doc.pdf {
    background: rgba(0, 0, 0, 0) url("img/format-pdf.png") no-repeat scroll 0 0;
}