.box-modal {
	position: relative;
	width: 680px;
	padding: 16px;
	color: #000;
	background:#fff;
}
.box-modal_close { position: absolute; right: 10px; top: 10px; font-size: 11px; line-height: 15px; color: #999; cursor: pointer; }
.box-modal_close:hover { color: #666; }