@font-face {
    font-family: PFDin_Regular;
    src: url(fonts/PFDinTextCompPro-Regular.ttf);
}

@font-face {
    font-family: PFDin_Light;
    src: url(fonts/PFDinTextCompPro-Light.ttf);
}

.map td
{
    color:gray;
}

.map [name=border]
{
    height: 20px;

    margin-top: 30px;
}

.c
{
    margin-left:20px;
    margin-bottom: 5px;
    color:white;
    border-radius:5px 5px 5px 5px;
    padding:1px 6px 1px 6px;
    background-color:#297fac;
    display: inline-block;
}

.map
{
    margin-top: 50px;
    width:100%;
   
    padding-top:20px;
    margin-bottom:100px;


}

.addressLinks a
{
    text-decoration:underline!important;
    color:#2c88b8!important;
    margin-bottom: 10px;
    display: inline-block;

}

.area
{
    font-size:20px;
    padding-top:-30px;
}

.itemTransport
{
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    overflow: hidden;
}

.firstItemTransport
{
    padding-top: 0px;
}


.itemTransport p
{

    font-size: 17px;
    padding: 0px;
    margin: 0px;
}

.mapTopBlock
{

}

.mapBottomBlock
{

    overflow: hidden;
}

.mapHeader
{
    font-size: 17px;
    padding-left: 30px;
    padding-bottom: 12px;
}

.mapHeader select
{
    background-color: #dfdfdf;
    margin-left: 10px;
}

.weekly p
{
    margin-bottom: 10px;
}

.weekly
{
    font-size: 14px;
}

.address .addressData
{
    font-size: 21px;
    color: black;
    width: 400px;
    margin-left: 15px;
    font-family: PFDin_Regular;
}

.address .addressData span
{
    font-family: PFDin_Light;
}

.shedule
{
    margin-top: 30px;
    font-family: PFDin_Light;
}