.calc
{
    background-color: #f0f0f0;
    border-radius: 10px;
    border-right: 1px solid #c4c4c4;
    border-bottom: 1px solid #afafaf;
    box-shadow: 0.0em 0.1em 5px rgba(122,122,122,0.3);
    min-height: 350px;
    min-width: 550px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

.calc #calcHeader
{
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 5px;
}

.calc #footerCalc
{
    background-color: #e7e5e6;
    height: 10px;
    border-radius: 0 0 10px 10px;
    border-bottom: 1px solid #bcbabb;
    position: relative;
}

.calc #calcList
{
    width: 95%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
    font-size: 15px;
    color: black;
}


.calc #calcList li
{
    margin-left: 20px;
    display: inline;
    list-style: none;
    color: #2c88b8;
    text-decoration: underline;
    font-weight: 600;
}

.calcForms:not #form1
{
    font-size: 13px!important;
    font-family: Arial!important;
    margin:0 !important;
    padding:0 !important;
}

.calc #noCalcs
{
    position: relative;
    top: 60px
}

.calcForms input,select
{
    border: 1px solid silver;
    border-radius: 0px!important;
}

.calcForms #form1 input
{
    border: 0px!important;
    border-radius: 10px!important;
    padding: 8px;
}

.calcInfo
{
    background-color: #dfdfdf;
    min-height: 50px;
    font-size: 15px;
    color: black;
    padding-right: 23px;
    padding-left: 23px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.calcInfo #calcInfo
{
    width: 500px;
    word-wrap: break-word;
}


.calcContent
{
    padding: 20px;
    border-top: 1px solid #f9f9f9;
    min-height: 197px;

}

.calcContent p
{
    font-size: 14px;
    font-weight: 600;
    position: relative;
}

.activeCalc
{
    background-color: #2b87b6;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    text-decoration: none!important;
    color: white!important;
}

.slider
{
    background-color: #5f5f5f;
    margin-top: -1px;
    border-radius: 5px;
    display: inline-block;
    width: 350px;
    height: 7px;
    position: relative;
}

.scale
{
    background-image: url('/bitrix/components/ceolab/calc.mfo/templates/.default/img/scale.png');
    width: 350px;
    height: 7px;
    background-size: contain;
    font-size: 5px;
}


.sliderContainer
{
    padding-bottom: 20px;
    font-size: 10px;
}

.sliderContainer input
{
    border-radius: 10px;
    background-color: white;
    text-align: center;
    border: 0px;
    height: 35px;
    width: 70px;
    font-size: 10px;
}
.ui-widget-header
{
    background-color: #1385c3;
    border-radius: 5px;
    height: 10px;
}

.ui-slider-horizontal
{
    width: 380px;
}

.ui-slider-handle
{
    top: -5px;
    margin-left:-10px;
    width:18px;
    height:18px;
    position:absolute;
    background-image: url('/bitrix/components/ceolab/calc.mfo/templates/.default/img/slider.png');
    background-size: contain;
    z-index:1;
}

.submitButton
{
    width: 160px;
    background: url("/bitrix/components/ceolab/calc.mfo/templates/.default/img/button.png") no-repeat;
    background-size: 100% 100%;
    font-size: 15px;
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    cursor: pointer;
}

.calcForm
{
    position: relative;
    overflow: hidden;
    font-size: 13px;
    font-family: Arial;
}

.errorClass
{
    border: 1px solid red!important;
}

.calcPanel
{
    font-family: Verdana,Arial,Helvetica,sans-serif;
}


