div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

.reviewWrapper
{
    width: 400px;
}

.reviewItem
{
    margin-top: 30px;
    font-size: 12px;
    font-style:italic;
    font-size:15px;
    overflow-x: hidden;
    width: 400px;
}



.reviewItem p
{
    font-style: normal;
    font-size: 14px;
    margin-bottom: 20px;
}

.reviewItem p span
{
    margin-left: 30px;
}

.reviewItem [name=border]
{
    margin-top: 15px;
    width: 300px;
    border-bottom: 3px solid silver;
}

.reviewSubmit
{
    margin-top: 10px;
    background-color:#2c88b8;
    border-radius:10px 10px 10px 10px;
    padding:7px 30px 7px 30px;
    color:white;
    font-weight: 600;
}


.form
{
    padding: 20px;
    background-color:#2c88b8;
    border-radius:10px 10px 10px 10px;
}

.form td
{
    color: white;
    padding-bottom: 5px;
}
