.reviews .items
{
    margin-top: 50px;
    font-size: 14px;
}

.reviews .item
{
    margin-top: 30px;
}

.reviews .item:first-child
{
    margin-top: 0;
}

.reviews .item .title
{
    border-bottom: 1px solid #cccccc;
    width: 70%;
    padding-bottom: 7px;
}

.reviews .item .title .name
{
    font-weight: 600;
}

.reviews .item .text
{
    margin-top: 7px;
}

.reviews .no_active
{
    background-color: yellow;
}