.mfo_vacancy_blocks
{
    display: inline-block;
    clear: both;
}

.mfo_vacancy
{
    float: left;
    width: 400px;
    line-height: 30px;
    border-bottom: 1px dashed #d9d9d9;
    padding-bottom: 5px;
    overflow: hidden;
    margin-right: 30px;
}

.mfo_vacancy_header
{
    font-size: 36px;
    margin-bottom: 70px;
}

.mfo_vacany_name
{
    color: #2c88b8;
    font-size: 24px;
}

.mfo_vacany_salary
{
    font-size: 14px;
}

.mfo_vacancy_date
{
    padding: 2px 7px;
    border-radius: 2px;
    background-color: #d9d9d9;
    font-size: 12px;
}

.selectRegion
{
    position: absolute;
    display: none;
    padding: 3px;
    z-index:200;
    background-color: white;
    border: 1px solid silver;
    margin-top: -70px;
}

.regionList
{
    padding: 0px 20px 20px;
}

.selectRegion a
{
    color: #2c88b8;
    text-decoration: none;
}

.selectCityAddress
{
    color:black!important;
    padding:6px;
    border:1px solid #dfdfdf;
    border-radius:5px 5px 5px 5px;
    background-color:#dfdfdf;
    vertical-align:5px;
    text-decoration: none;
    margin-left: 10px;
    font-size: 16px;
}