.mfo_affiliation th
{
    font-size: 14px;
    border-left: 1px solid silver;
    border-bottom: 2px solid silver;
}

.mfo_affiliation th:first-child
{
    border-left: 0px;
}

.mfo_affiliation td
{
    font-size: 14px;
    border-left: 1px solid silver;
    border-bottom: 1px solid silver;
    padding: 5px;
}

.mfo_affiliation td:first-child
{
    border-left: 0px;
}