.formSettings
{
    font-family: Arial;
    position: relative;
    border: 1px solid black;
}

.formSettings .controlPanel .hideBtn
{
    background-color: #C0C0C0;
    color: black;
    display: inline-block;
    top: 1px;
    right: 1px;
    font-size: 11px;
    width: 10px;
    word-wrap: break-word;
    line-height: 11px;
    padding: 4px;
    float: right;
    position: relative;
    margin: -1px;
    cursor: pointer;
}

.formSettings .hideBtnIsHidden
{
    background-color: #00B500!important;
    color: white!important;
}

.formSettings .controlPanel
{
    margin-top: 5px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid black;
    top: 1px;
    z-index: 100;
    overflow: hidden;
    width: 100%;
    padding: 0;
}

.formSettings .controlPanel .buttons
{
    float: left;
    padding: 10px;
}

.formSettings .controlPanel .validators
{

}

.formSettings .leftPanel
{
    left: 1px;
}

.formSettings .rightPanel
{
    right: 1px;
}

.formSettings .controlPanel a
{
    padding: 5px 7px;
    color: black;
    border-radius: 5px;
    border: 1px solid black;
    text-decoration: none;
    background-color: silver;
    font-size: 14px;
}

.formSettings .controlPanel a:hover
{
    background-color: #e5e5e5;
}

.formSettings .controlPanel a:active
{
    background-color: red;
    background-color: #ededed;
}


.formSettings .forms
{
    margin: 100px 0 170px 0;
    border: 1px solid #565656;
}

.formSettings .forms .head .rightButtons
{
    float: right;
}

.formSettings .forms .head .rightButtons a
{
    margin-right: 5px;
}

.formSettings .forms .head .rightButtons a:last-child
{
    margin-right: 0;
}

.formSettings .controlPanel .formsPanel
{
    margin-top: 15px;
}

.formSettings .controlPanel .formsPanel a
{
    padding: 5px 7px;
    color: white;
    border-radius: 5px;
    border: 1px solid #cfcfcf;
    text-decoration: none;
    background-color: #00b500;
    font-size: 14px;
}

.plus
{
    font-weight: 600;
    font-size: 16px;
}


.formSettings .forms .items .item .body
{
    min-height: 500px;
    background-color: white;
    display: block;
    padding: 10px;
    border: 1px solid black;
    position: relative;

}

.formSettings .forms .items .item .activeBody
{
    background-color: white;
    border: 1px solid black;
}

.formSettings .forms .items .item .body .field
{
    margin-top: 10px;
    padding: 5px;
}

.formSettings .forms .items .item .body .field:hover
{
    background-color: #ececec;
}

.formSettings .forms .items .item .body .field .control
{
    float: right;
    display: inline-block;
}

.formSettings .forms .items .item .body .field .control a
{
    margin-left: 10px;
}

.formSettings .forms .items .item .body .field span[name="text"]
{
    width: 200px;
    display: inline-block;
    overflow: hidden;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: underline;
}

.formSettings .forms .items .item .body .field span[name="text"] input
{
    background-color: inherit;
    border: 0;
    display: inline-block;
    width: inherit;
    border-bottom: 1px solid black;
}

.formSettings .forms .items .item .body .bgr
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    top: 0px;
    left: 0px;
    z-index: 1;
}

.formSettings .forms .items .item .body .bgr .text
{
    position: relative;
    top: 50%;
    text-align: center;
    font-size: 23px;
    color: #ffffff;
}

.formSettings .propertiesPanel
{
    display: none;
    position: absolute;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100;
    border-radius: 0 0 0 5px;
    bottom: 1px;
    left: 0;
    overflow: hidden;

}

.formSettings .propertiesPanel .hideBtn
{
    position: absolute;
    word-wrap: break-word;
    display: inline-block;
    width: 12px;
    background-color: silver;
    color: black;
    top: -1px;
    left: -20px;
    font-size: 11px;
    padding: 4px;
    line-height: 11px;
    border-radius: 5px 0 0 5px;
    border: 1px solid black;
    border-right: 0;
    cursor: pointer;
}

.formSettings .propertiesPanel .content
{
    float: right;
}

.formSettings .propertiesPanel .head
{
    text-align: right;
    border-bottom: 1px solid silver;
    padding-bottom: 5px;
}

.formSettings .propertiesPanel .fields
{
    margin-top: 10px;
}

.formSettings .propertiesPanel .fields .item
{
    overflow: hidden;
    margin: 5px 20px;
    display: inline-block;
    float: left;
}

.formSettings .propertiesPanel .fields .item .title
{
    float: left;
    margin-right: 10px;
    font-size: 14px;
}

.formSettings .propertiesPanel .fields .item .field
{
    float: right;
}

.formSettings .propertiesPanel .fields .item .field input
{
    width: 100px;
}

.formSettings .forms .items .item .head
{
    font-size: 14px;

    padding-left: 10px;
    margin-bottom: 7px;
}

.formSettings .forms .items .item .head .formName
{
    text-decoration: underline;
    color: black;
    margin-left: 5px;
    cursor: pointer;
}


.formSettings .forms .items .item .head .formName input
{
    background-color: inherit;
    border: 0;
    display: inline-block;
    width: inherit;
    border-bottom: 1px solid black;
}

.formSettings .forms .items .item
{
    margin-top: 10px;
}


.formSettings .forms .items
{
    padding: 10px;
}

.activeField
{
    border: 1px solid green;
    background-color: rgba(18, 200, 30, 0.36)!important;
}


.keyvalue_field
{
    display: inline-block;
}

.keyvalue_field .valuesWrap
{
    max-height: 100px;
    overflow: auto;
}

.keyvalue_field .values th
{
    font-size: 14px;
}

.keyvalue_field .values .valueItem
{
    overflow: hidden;
    border-bottom: 1px dashed silver;
    padding-bottom: 1px;
    margin-bottom: 3px;
}

.keyvalue_field .values .valueItem a
{
    float: right;
    margin-left: 10px;
    text-decoration: none;
}

.keyvalue_field .values .name
{

}

.keyvalue_field .values .value
{

}

.calendar
{
    font-size: 12px;
    border: 1px solid silver;
    display: inline-block;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    z-index: 100;
}

.calendar #calendar
{
    position: relative;
    overflow: hidden;

}

.calendar table
{
    background-color: white;
    position: relative;
}

.calendar th
{
    font-weight: 200;
    font-size: 12px;
    font-weight: 600;
}

.calendar td
{
    text-align: center;
    background-color: #2C88B8;
    color: white;
    padding: 0;
}

.calendar .no_empty_cell
{
    background-color: #2C88B8;
    color: white;
    cursor: pointer;
    padding: 5px;
}

.calendar .no_empty_cell:hover
{
    background-color: #35b2f4;
}

.calendar .highlight
{
    background-color: #35b2f4;
}

.calendar .year_month
{
    border-bottom: 1px dashed silver;
    padding-bottom: 2px;
    position: relative;
}

.calendar .year_month span
{
    color: #2C88B8;
    cursor: pointer;
    margin-right: 5px;
}

.calendar .year_month span:last-child
{
    margin-right: 0;
}

.calendar .arrow_next
{
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    top: -6px;
    right: 1px;
    position: absolute;
}

.calendar .arrow_prev
{
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    top: -6px;
    left: 1px;
    position: absolute;
}

.calendar .onDrive
{
    position: absolute;
}


