
.address a
{
    text-decoration:none;
    color:#2c88b8;
}

.city
{
    font-size:45px;
}

.selectCityAddress
{
    color:black!important;
    padding:6px;
    border:1px solid #dfdfdf;
    border-radius:5px 5px 5px 5px;
    background-color:#dfdfdf;
    vertical-align:5px;
    text-decoration: none;
    margin-left: 10px;
}

.map td
{
    color:#656464;
}

.map [name=border]
{
    height: 20px;
    background-color: #e8e7e7;
    margin-top: 30px;
}

.c
{
    vertical-align:10px;
    margin-left:20px;
    margin-bottom: 5px;
    color:white;
    border:1px solid #297fac;
    border-radius:5px 5px 5px 5px;
    padding:1px 6px 1px 6px;
    background-color:#297fac;
}

.map
{
    margin-top: 50px;
    width:850px;
    background-color:#f0f0f0;
    border:1px outset #f0f0f0;
    padding-top:20px;
    margin-bottom:100px;


}

.selectRegion_vacancies_wrapper
{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color:rgba(0,0,0,0.3);
    z-index:100;
}

.selectRegion_vacancies
{
    display: block;
    padding: 3px;
    z-index:200;
    background-color: white;
    border: 1px solid silver;
    font-size: 12px;
    width: 800px;
    height: 500px;
    overflow-y: auto;
    margin-top: 20%;
    margin-left: 20%;
}

.selectRegion_vacancies_block
{
    float: left;
    margin-right: 50px;
    margin-top: 50px;
    width: 150px;
}

.regionList
{
    padding: 0px 20px 20px;
}

.area
{
    font-size:20px;
    padding-top:-30px;
}

.itemTransport
{
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
}

.firstItemTransport
{
    padding-top: 0px;
}


.itemTransport p
{
    font-family: Comic Sans MS, "Monaco CY";
    font-size: 17px;
    padding: 0px;
    margin: 0px;
}

.mapTopBlock
{
    border-bottom: 1px solid #e5e5e5;
}

.mapBottomBlock
{
    border-top: 1px solid #f6f6f6;
}

.mapHeader
{
    font-size: 17px;
    padding-left: 30px;
    padding-bottom: 12px;
}

.mapHeader select
{
    background-color: #dfdfdf;
    margin-left: 10px;
}

.weekly p
{
    margin-bottom: 10px;
}

.weekly
{
    font-size: 14px;
}