div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

.news
{
    padding-bottom: 50px;
    margin-top: 50px;
}

.newsItem
{
    margin-top: 30px;
    font-size: 12px;
    width: 400px;
    overflow-x: hidden;
}

.newsItem p
{
    font-size: 14px;
    margin-bottom: 20px;

}

.newsItem p span
{
    color: #a09f9f;
    margin-left: 30px;
}

.newsItem [name=border]
{
    margin-top: 15px;
    width: 400px;
    border-bottom: 3px solid silver;
}

.newsItem a
{
    text-decoration: none;
    color: #2c88b8;
}
