


.selectCity_header a
{
    color:white;
    text-decoration:none;
    border-bottom: 1px dashed white;
}



.selectRegion_header_wrapper
{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color:rgba(0,0,0,0.3);
    z-index:100;
}

.selectRegion_header
{
    display: block;
    padding: 3px;
    z-index:200;
    background-color: white;
    border: 1px solid silver;
    font-size: 12px;
    width: 800px;
    height: 500px;
    overflow-y: auto;
    margin-top: 20%;
}


.selectRegion_header a
{
    color: #2c88b8!important;
    text-decoration: none;
}

.selectRegion_header_block
{
    float: left;
    text-align: left;
    margin-top: 50px;
    width: 150px;
}

.selectRegion_header_block a
{
    color:#2c88b8!important;
}

.regionList_header
{
    padding: 0px 20px 20px;
}

.selectRegion_address_header_lether
{
    font-size: 30px;
    color: black;
}