.mfo_vacancy_blocks
{
    display: inline-block;
    clear: both;
}

.mfo_vacancy
{
    float: left;
    width: 400px;
    line-height: 30px;
    border-bottom: 1px dashed #d9d9d9;
    padding-bottom: 5px;
    overflow: hidden;
    margin-right: 30px;
    margin-top: 30px;
}

.mfo_vacancy_header
{
    font-size: 36px;
    margin-bottom: 30px;
    display: inline-block;
}

.mfo_vacany_name a
{
    color: #2c88b8;
    font-size: 24px;
    text-decoration: none;
}

.mfo_vacany_salary
{
    font-size: 14px;
}

.mfo_vacancy_date
{
    padding: 2px 7px;
    border-radius: 2px;
    background-color: #d9d9d9;
    font-size: 12px;
}

.selectRegion_vacancies_wrapper
{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color:rgba(0,0,0,0.3);
    z-index:100;
}

.selectRegion_vacancies
{
    position: fixed;
    display: block;
    padding: 3px;
    z-index:200;
    background-color: white;
    border: 1px solid silver;
    font-size: 12px;
    width: 800px;
    height: 500px;
    overflow-y: auto;
    margin-top: 20%;
    margin-left: 20%;
}

.selectRegion_vacancies_block
{
    float: left;
    margin-right: 50px;
    margin-top: 50px;
    width: 150px;
}

.regionList
{
    padding: 0px 20px 20px;
}

.selectRegion_vacancies a
{
    color: #2c88b8;
    text-decoration: none;
}

.selectCityAddress
{
    color:black!important;
    padding:6px;
    border:1px solid #dfdfdf;
    border-radius:5px 5px 5px 5px;
    background-color:#dfdfdf;
    vertical-align:5px;
    text-decoration: none;
    margin-left: 10px;
    font-size: 16px;
}

.mfo_pagination
{
    margin-top: 70px;
}